name: CI

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**/*.md'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Prepare git
        run:
          git config --global url."git://github.com/ghc/packages-".insteadOf     git://github.com/ghc/packages/ &&
          git config --global url."http://github.com/ghc/packages-".insteadOf    http://github.com/ghc/packages/ &&
          git config --global url."https://github.com/ghc/packages-".insteadOf   https://github.com/ghc/packages/ &&
          git config --global url."ssh://git@github.com/ghc/packages-".insteadOf ssh://git@github.com/ghc/packages/ &&
          git config --global url."git@github.com:ghc/packages-".insteadOf       git@github.com:ghc/packages/

      - name: Checkout GHC
        uses: actions/checkout@v2.4.0
        with:
          repository: ghc/ghc
          submodules: recursive

      - name: Checkout ghc.nix
        uses: actions/checkout@v2.4.0
        with:
          path: ghc.nix

      - name: Install nix
        uses: cachix/install-nix-action@v20

      - name: Use cachix
        uses: cachix/cachix-action@v12
        with:
          name: ghc-nix
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: Check nix flake
        run: nix flake check ghc.nix# -Lv --impure --fallback

      - name: Run nix-shell - Boot and Configure
        run: nix-shell --pure ghc.nix/shell.nix --command "./boot && configure_ghc"

      - name: Run nix-shell - Build Hadrian
        run: nix-shell --pure ghc.nix/shell.nix --command "pushd hadrian; cabal new-update; cabal new-build -j all; popd"

      - name: Run nix-shell - hadrian/ghci
        run: nix-shell --pure ghc.nix/shell.nix --command "echo :q | hadrian/ghci | tail -n2 | grep 'Ok,'"

      - name: Run nix-shell - Build GHC
        run: nix-shell --pure ghc.nix/shell.nix --command "hadrian/build -j --flavour=quickest"

      - name: Run nix-shell - Test GHC (by running a testsuite subset)
        run: nix-shell --pure ghc.nix/shell.nix --command "hadrian/build -j --flavour=quickest test --test-root-dirs=testsuite/tests/programs"

      - name: Run nix develop - Boot and Configure
        run: nix develop -Lv --fallback ghc.nix# -c bash -c "./boot && configure_ghc"

      - name: Run nix develop - Build Hadrian
        run: nix develop -Lv --fallback ghc.nix# -c bash -c "pushd hadrian; cabal new-update; cabal new-build -j all; popd"

      - name: Run nix develop - hadrian/ghci
        run: nix develop -Lv --fallback ghc.nix# -c bash -c "echo :q | hadrian/ghci | tail -n2 | grep 'Ok,'"

      - name: Run nix develop - Build GHC
        run: nix develop -Lv --fallback ghc.nix# -c bash -c "hadrian/build -j --flavour=quickest"

      - name: Run nix develop - Test GHC (by running a testsuite subset)
        run: nix develop -Lv --fallback ghc.nix# -c bash -c "hadrian/build -j --flavour=quickest test --test-root-dirs=testsuite/tests/programs"

      - name: Setup pages 
        id: pages
        uses: actions/configure-pages@v3
      - name: build book
        run: nix build -Lv --fallback ghc.nix#moduleDocs
      - name: upload-artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./result

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2

  cross_compiler_smoketest:
    runs-on: ubuntu-latest

    steps:
      - name: Prepare git
        run:
          git config --global url."git://github.com/ghc/packages-".insteadOf     git://github.com/ghc/packages/ &&
          git config --global url."http://github.com/ghc/packages-".insteadOf    http://github.com/ghc/packages/ &&
          git config --global url."https://github.com/ghc/packages-".insteadOf   https://github.com/ghc/packages/ &&
          git config --global url."ssh://git@github.com/ghc/packages-".insteadOf ssh://git@github.com/ghc/packages/ &&
          git config --global url."git@github.com:ghc/packages-".insteadOf       git@github.com:ghc/packages/

      - name: Checkout GHC
        uses: actions/checkout@v2.4.0
        with:
          repository: ghc/ghc
          submodules: recursive

      - name: Checkout ghc.nix
        uses: actions/checkout@v2.4.0
        with:
          path: ghc.nix

      - name: Install nix
        uses: cachix/install-nix-action@v20

      - name: Use cachix
        uses: cachix/cachix-action@v12
        with:
          name: ghc-nix
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: "wasm-cross: Run nix develop - Boot and Configure"
        run:
          nix develop -Lv --fallback ghc.nix#wasm-cross -c bash -c "./boot && configure_ghc"

      - name: "wasm-cross: Check backward compat synonym"
        run:
          nix develop -Lv --fallback ghc.nix#wasi-cross -c true

      - name: "js-cross: Run nix develop - Boot and Configure"
        run: nix develop -Lv --fallback ghc.nix#js-cross -c bash -c "./boot && configure_ghc"
