name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:        
      - name: Prepare git 
        run:
          git config --global url."git://github.com/ghc/packages-".insteadOf     git://github.com/ghc/packages/ &&
          git config --global url."http://github.com/ghc/packages-".insteadOf    http://github.com/ghc/packages/ &&
          git config --global url."https://github.com/ghc/packages-".insteadOf   https://github.com/ghc/packages/ &&
          git config --global url."ssh://git@github.com/ghc/packages-".insteadOf ssh://git@github.com/ghc/packages/ &&
          git config --global url."git@github.com:ghc/packages-".insteadOf       git@github.com:ghc/packages/ 

      - name: Checkout GHC
        uses: actions/checkout@v2
        with:
          repository: ghc/ghc
          submodules: recursive

      - name: Checkout ghc.nix
        uses: actions/checkout@v2
        with:
          path: ghc.nix
          
      - name: Install nix
        uses: cachix/install-nix-action@v10

      - uses: cachix/cachix-action@v6
        with:
          name: ghc-nix
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          # Only needed for private caches
#          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Run nix-shell - Boot and Configure
        run: nix-shell --pure ghc.nix --command "./boot && configure_ghc"

      - name: Run nix-shell - Build Hadrian
        run: nix-shell --pure ghc.nix --command "pushd hadrian; cabal new-build -j exe:hadrian; popd"

      - name: Run nix-shell - hadrian/ghci
        run: nix-shell --pure ghc.nix --command "echo :q | hadrian/ghci"
